
.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    border-top: 1px solid #c8d0e1;
    bottom: 0;

}
.footer p
{
    color: #374151;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;


}
.footer h2
{
    font-size: 2rem;
    font-weight: lighter;
    margin: 0;
}