@import url('https://fonts.googleapis.com/css2?family=Geist+Sans:wght@400;500;600;700&display=swap');

html
{
  font-size: 16px;
  font-family: 'Geist Sans', sans-serif ;
  /* scrollbar-width: none; */
   /* width: 100%;  */
overflow-x: hidden;


}

body
{
  margin: 0;

}


@media (max-width:572px){

  #root
  {
    display: flex;
  }  
  html
  {
    font-size: 13px;
  }
}